<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>XSS-Demo - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        {% block css %}
        {% endblock %}

        <script type="application/javascript" src="/js/jquery.min.js"></script>
        <script type="application/javascript" src="/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="/js/main.js"></script>
        {% block js %}
        {% endblock %}

    </head>

    <body>

    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <i class="fa fa-bank"></i> Lorem Ipsum Bank
                </a>
            </div>

            <ul class="nav navbar-nav">

                {% if user.role == 'user' %}
                    <li><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-eur"></i> Banking <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-bar-chart"></i> Umsätze</a></li>
                            <li><a href="#"><i class="fa fa-money"></i> Überweisung</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">...</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if user.role == 'admin' %}
                <li><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cogs"></i> Administration <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user"></i> Benutzer</a></li>
                        <li><a href="#"><i class="fa fa-group"></i> Gruppen</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="#">...</a></li>
                    </ul>
                </li>
                {% endif %}

                <li><a href="">Privatkunden</a></li>

                <li><a href="">Firmenkunden</a></li>

                <li><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Support <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/forum"><i class="fa fa-comments"></i> Forum</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="#">...</a></li>
                    </ul>
                </li>

            </ul>

            {% if user %}
                <ul class="nav navbar-nav pull-right">
                    <li><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{user.username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-map-marker"></i> Adressdaten</a></li>
                            <li><a href="#"><i class="fa fa-lock"></i> Passwort</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav pull-right">
                    <li><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}

        </div>
    </nav>

    <div id="header">
        <div class="container">
            <h1><i class="fa fa-lock"></i> <strong>Sicheres</strong> Banking mit der <strong>Lorem Ipsum Bank</strong></h1>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>{% block headline %}{% endblock %}</h1>
        </div>
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container footer-content">
            <p>XSS-Demo - Grundlagen IT-Sicherheit (SoSe 2015)</p>
            <p>Gruppe: Hans-Peter Herzog</p>
        </div>
    </footer>

    </body>
</html>