{% extends 'layouts/main.html' %}

{% block title %}Forum{% endblock %}

{% block headline %}<i class="fa fa-comments"></i> Forum{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <h2 class="forum-title">
                Thema: Finanzprodukt Lorem Ipsum
            </h2>

            <div class="forum-entries">
                {% for forumEntry in forumEntries %}
                    <div class="forum-entry">
                        <div class="avatar"><img src="{{forumEntry.user.avatar}}" width="60" height="60"/></div>
                        <div class="content">
                            <div class="username">{{forumEntry.user.username}}</div>
                            <div class="date">{{forumEntry.date|forumEntryDate}}</div>
                            {% autoescape false %}
                                <div class="text">{{forumEntry.text}}</div>
                            {% endautoescape %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="col-md-8 col-md-offset-2">
            <form action="/forum" method="post" enctype="application/x-www-form-urlencoded">

                <div class="form-group">
                    <textarea type="text" name="text" class="form-control" placeholder="Text"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-king-size">Beitrag senden</button>
                </div>

            </form>
        </div>

    </div>

{% endblock %}