{% extends 'layouts/main.html' %}

{% block title %}Home{% endblock %}

{% block headline %}<i class="fa fa-home"></i> Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">

            {% if not user %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-king-size btn-login"><i class="fa fa-sign-in"></i> Login</button>
                </div>
            {% else %}

                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check"></i> Sind sind erfolgreich als <strong>{{user.username}}</strong> angemeldet.
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-king-size btn-logout"><i class="fa fa-sign-out"></i> Logout</button>
                </div>
            {% endif %}

        </form>
    </div>
</div>

{% endblock %}