{% extends 'layouts/main.html' %}

{% block title %}Login{% endblock %}

{% block headline %}<i class="fa fa-sign-in"></i> Login{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">

        {% if error %}
             <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i> {{error}}</div>
        {% endif %}

        <form action="/login" method="post" enctype="application/x-www-form-urlencoded">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" name="username" class="form-control" placeholder="Benutzername"/>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password" class="form-control" placeholder="Passwort"/>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-king-size"><i class="fa fa-sign-in"></i> Login</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}