

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px;
}

#header {
    position: relative;
    background-image: url("http://lorempixel.com/1920/300/city/5/");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 250px;
    text-align: center;
}

#header .container {
    position: relative;
    padding-top: 80px;
}

#header h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    display: inline-block;
    color: #777777;
    margin:0;
    width: 100%;
}

#header h1 i {
    color: orange;
}

.navbar.navbar-default {
    margin:0;
}

.navbar .container {
    min-height: inherit;
}

.navbar .info {
    margin: 0;
    min-height: inherit;
    color: #777777;
    padding: 10px 0 10px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #444444;
    color: #999999;
    padding: 20px 0 20px 0;
    text-align: center;
}

.footer p {
    margin-bottom: 5px;
}

.footer p:last-child {
    margin: 0;
}

.footer-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page-header {
    margin: 50px 0 80px 0;
    padding-bottom: 5px;
}

.page-header h1 {
    color: #777777;
    text-align: center;
}

.btn-king-size {
    width: 100%;
}

textarea.form-control {
    width: 100%;
    height: 120px;
}

.forum-entries {
    margin-bottom: 40px;
}

.forum-entry {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 40px;
    min-height: 60px;
}

.forum-entry > div {
    display: table-cell;
}

.forum-entry .avatar {
    width: 60px;
}

.forum-entry .content {
    padding: 0 0 0 15px;
    vertical-align: top;
}

.forum-title {
    font-weight: normal;
    color: #777777;
    margin-bottom: 40px;
}

.forum-entry .content .username {
    font-weight: bold;
    display: inline-block;
    color: #777777;
}

.forum-entry .content .date {
    font-weight: normal;
    display: inline-block;
    color: #777777;
    font-style: italic;
    padding-left: 10px;
}

.forum-entry .content .text {
    padding-top: 5px;
}